* {
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 81px;
    background-color: #09212A;
    display: flex;
    align-items: center;
}

h1{
    color: white;
}

main {
    background-color: #06171E;
    flex: 1;
    height: 100vh;
}

.wrapper{
    width: 100%;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.content-btn {
    all: unset;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    
}

.content-btn img{
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

footer {
    height: 128px;
    width: 100%;
    background-color: #09212A;
}